body{
    font-family: 'Poppins', sans-serif;
}
/* header section CSS work start*/
.mainHeader{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(229, 84, 115, 0.10);;
    padding: 50px 0px 0px 140px;
}
.headerTitle{
    font-size: 45px;
    margin: 0;
}
.headerDiscription{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    line-height: 30px; /* 166.667% */
}
.headerSection{
    width: 50%;
}
.headerSection img{
    width: 70%;
}

.primaryBtn{
    color: #FFF;;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px 20px 43px;
}
/* header section CSS work end*/


/* Hot Deal section work start */
.hotDeal{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(229, 84, 115, 0.10);;
    padding: 20px 100px 20px 100px; 
    margin-top: 20px;  
}
.hotDealSection{
    text-align: center;
    width: 60%;
}