body{
    font-family: 'Poppins', sans-serif;
}
/* header section CSS work start*/
.mainHeader{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(229, 84, 115, 0.10);;
    padding: 50px 0px 0px 140px;
}
.headerTitle{
    font-size: 45px;
    margin: 0;
}
.headerDiscription{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    line-height: 30px; /* 166.667% */
}
.headerSection{
    width: 50%;
}
.headerSection img{
    width: 70%;
}

.primaryBtn{
    color: #FFF;;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px 20px 43px;
}
/* header section CSS work end*/


/* Hot Deal CSS section work start */
.hotDeal{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(229, 84, 115, 0.10);;
    padding: 20px 100px 20px 100px; 
    margin-top: 20px;  
}
.hotDealSection{
    text-align: center;
    width: 60%;
}
/* Hot Deal CSS section work end */

 /* instagram CSS section work  */
 .instagram{
    text-align: center;
    margin-top: 100px;
 }
 .instagramSection img{
    margin: 48px 10px 48px 10px;
    width: 20%;
 }

 .instagramDiscription{
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    line-height: 10px; /* 166.667% */
 }
 /* instagram CSS section work end */