body{
    font-family: 'Poppins', sans-serif;
}
.colorPink{
    color:#E55473;
}
/* header section CSS work start*/
.mainHeader{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(229, 84, 115, 0.10);;
    padding: 50px 0px 0px 140px;
}
.headerTitle{
    font-size: 45px;
    margin: 0;
}
.headerDiscription{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    line-height: 30px; /* 166.667% */
}
.headerSection{
    width: 50%;
}
.headerSection img{
    width: 70%;
}

.primaryBtn{
    color: #FFF;;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px 20px 43px;
}
/* header section CSS work end*/

/* special bonus CSS section start */

.specialBonusfirst{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
 }
 .specialBonusfirstSection{
    display: flex;
    text-align: center;
    justify-content: space-around;
 }
 .img1{
    margin: 48px 10px 48px 10px;
    width: 15%;
    padding: 50px;
    background: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0 0;
    height: 310px;
    width: 254px;
 }

 .img2{
    margin: 48px 10px 48px 10px;
    width: 15%;
    padding: 50px;
    background: rgba(5, 151, 160, 0.15);    
    border-radius: 300px 300px 0 0;
    height: 310px;
    width: 254px;
 }

 .img3{
    margin: 48px 10px 48px 10px;
    width: 15%;
    padding: 50px;
    background: rgba(71, 125, 17, 0.15);
    border-radius: 300px 300px 0 0;
    height: 310px;
    width: 254px;
 }


 .specialBonusfirstDiscription{
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    line-height: 10px; /* 166.667% */
 }

/* special bonus CSS section end */


/* special bonus section social media start */
.socialMedia{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(244, 240, 241, 0.1);;
    padding: 20px 100px 20px 100px; 
    margin-top: 20px;  
    border: 2px dotted orange;
    border-radius: 100px;
    margin-bottom: 100px;
}
.socialMedia:hover{
background: #b3ec0a;
}
.socialMediaSection{
    text-align: center;
    width: 60%;
}

/* special bonus section social media end */


/* Hot Deal CSS section work start */
.hotDeal{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(229, 84, 115, 0.10);;
    padding: 20px 100px 20px 100px; 
    margin-top: 20px;  
}
.hotDealSection{
    text-align: center;
    width: 60%;
}
/* Hot Deal CSS section work end */

 /* instagram CSS section work  */
 .instagram{
    text-align: center;
    margin-top: 100px;
 }
 .instagramSection img{
    margin: 48px 10px 48px 10px;
    width: 20%;
 }

 .instagramDiscription{
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    line-height: 10px; /* 166.667% */
 }
 /* instagram CSS section work end */

 /* subscribe CSS section started */
 .subscribe{
    text-align: center;
    background-image: url('../bgimage/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 449px; */
    padding: 150px 0 50px 0;
 }

 .inputField{
    display: inline-block;
    height: 50px;
    width: 400px;
    border-radius: 5px;
 }
 /* subscribe CSS section END */


 /* footer section start */
 .footersection{
    text-align: center;
    background: #111010;
    margin-top: 70px;
    /* height: 449px; */
    padding: 128px 0 128px 0;
 }
 .footersectionDiscription{
    color: rgba(255, 255, 255, 0.90);
    
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    line-height: 15px; /* 166.667% */
 }

 .footerD{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
 }
 /* footer section end */